{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "AZURE_STORAGE_BLOB_ENDPOINT": "http://127.0.0.1:10000/devstoreaccount1",
    "AUDIT_QUEUE_NAME": "audit-log",
    "ANALYTICS_CONTAINER": "analytics-log",
    "POISON_CONTAINER": "poison-log",
    "ARCHIVE_CONTAINER": "archive-log"
  }
}
